<div class="story-window">
  <div #pageFlipContainer id="pageFlipContainer"></div>
</div>

<div hidden>
  <nb-card class="page" >
    <nb-card-header>
      <h2 style="text-align: center; font-size: 24px; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</h2>
    </nb-card-header>
    <nb-card-body>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
  </nb-card>





  <nb-card class="page" >
  
    <nb-card-body>
      <p >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea doloremque nemo minima rem similique aperiam corporis eum! Quae reiciendis voluptatem libero commodi quasi, praesentium magnam, quas eum autem nesciunt delectus.
        Tenetur fuga quod rem fugit pariatur, tempore minus optio eveniet, assumenda minima, inventore soluta necessitatibus modi? Velit sequi voluptatem officia ea beatae nulla, maiores vel at suscipit delectus officiis quibusdam?
        Ipsum veritatis illo id dolorum perspiciatis, neque repudiandae harum excepturi omnis! Velit, modi dicta voluptate dolorem consequatur ipsa tempora quo in est quos alias iusto fuga soluta amet quaerat rem!
        Explicabo, odio quo. Quod odit, doloremque sed blanditiis ad aut labore. Deserunt, pariatur! Voluptatem quam facilis eos repellendus ex eum repellat! Maiores quibusdam a adipisci velit illum pariatur tempore dolor?
        Laboriosam itaque neque fugiat earum, excepturi quam quis consectetur perspiciatis harum modi expedita unde accusantium doloribus sunt quia minus, quisquam explicabo nihil doloremque sit odit recusandae molestias consequatur. Repudiandae, possimus.
        Possimus, at nihil maiores eum amet voluptate architecto molestias! Ut at accusamus ad quidem ipsa dolorum reprehenderit, totam, dignissimos dolorem odio doloribus obcaecati velit magni mollitia sapiente? Iusto, laudantium voluptatem!
        Delectus exercitationem rem possimus esse inventore blanditiis ipsa qui, velit magni vel assumenda sed dicta ratione minus quis necessitatibus amet totam quam tempore aperiam! Ullam deleniti labore corrupti omnis iure.
        Accusantium iure tenetur ducimus nulla cumque eos autem maxime, praesentium suscipit explicabo ab dolor quod dolores voluptate optio voluptas ipsam assumenda aut hic officiis. Beatae, aperiam! Beatae temporibus voluptates quo.
        Animi enim voluptatibus magni nisi? Aut quas officiis excepturi obcaecati voluptas optio incidunt expedita eius debitis soluta minus recusandae vel, dolorum qui ea cum dolore nisi natus eos voluptate? Amet.
        Odio quidem ipsa neque numquam ipsam in enim doloremque dicta voluptatibus nobis mollitia corporis excepturi at vitae tempore, officiis provident reprehenderit error nostrum quod libero magnam. Blanditiis reiciendis excepturi provident.
        Inventore ducimus quaerat aperiam itaque ad illum eius qui recusandae omnis excepturi saepe incidunt fugit reprehenderit, eligendi numquam esse placeat impedit a at hic harum repellendus nam natus eveniet. Dicta.
        Corrupti incidunt sint, similique est reiciendis itaque. Aperiam totam obcaecati asperiores provident, mollitia, quam necessitatibus alias deserunt autem assumenda eum quia maxime soluta voluptate nulla itaque incidunt porro voluptatum. Ad!
        Distinctio, tempora nam eaque veritatis sint quos exercitationem excepturi pariatur maxime in accusamus id modi earum, perferendis omnis recusandae. Hic voluptatibus expedita numquam fuga rerum corporis totam veritatis temporibus nihil!
        Dolorem dignissimos et ut vel quod laborum, deserunt veritatis vero harum eius. Earum repellendus nostrum dolor harum obcaecati dolores omnis nesciunt fugiat, aperiam facilis expedita blanditiis mollitia quos fugit aliquid.
        Velit dolore quam, perspiciatis iure laudantium consectetur, provident rerum officia maxime, aliquam ipsum aperiam. Adipisci repudiandae ad et quis impedit a voluptates deleniti nisi, sit exercitationem eveniet expedita, ab atque.
        Ex quia illo accusantium, molestias beatae provident placeat porro asperiores aut id quae exercitationem vero eius quos quo consectetur quasi? Nobis maxime provident atque explicabo iure deserunt voluptas laboriosam tempore?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium debitis amet illum. Eligendi nostrum quis voluptate ut impedit cupiditate labore et ad corporis, eos ullam! Nisi fugiat laboriosam numquam cupiditate.
        Repudiandae, eum. Quas molestiae necessitatibus quisquam molestias architecto rerum, voluptatem modi aut facere amet saepe adipisci neque iste sed laudantium enim dicta eveniet, ratione itaque. Ut distinctio alias corporis enim.
        Consequuntur, expedita distinctio. Hic temporibus distinctio, cumque recusandae culpa qui illum dicta voluptas nulla modi, dolores aut? Consequuntur aut officia quae dolorum quibusdam ipsa debitis ut, ipsum commodi, repudiandae tenetur.
        Perspiciatis deserunt expedita modi eligendi reiciendis dolor! Excepturi consectetur quo quidem. Beatae rem amet consequuntur eaque, quod accusantium ducimus iure maiores vel aliquid quasi aspernatur aperiam distinctio voluptatum id consequatur.
        Obcaecati voluptatibus velit deserunt pariatur expedita, temporibus enim dignissimos corporis fuga sunt accusamus, at sequi nobis illo quos voluptate quo est minima incidunt. Minima accusamus saepe eaque eveniet doloremque labore?
        Ullam blanditiis, nostrum temporibus commodi eveniet expedita corrupti similique, a ratione, possimus debitis voluptas nesciunt cum vero culpa necessitatibus incidunt? Architecto veritatis consequatur laudantium numquam cumque temporibus harum maxime expedita?
        Earum, tempora quis vel sint impedit iste deserunt? Voluptatem tempora praesentium, amet sapiente laboriosam dolorum dolor animi nam laborum magnam deleniti aspernatur reprehenderit repudiandae blanditiis ad ea unde incidunt quo!
        Corrupti debitis quisquam, reprehenderit eveniet repellat minima explicabo et. Deserunt dolorum unde eveniet sint quaerat facere aspernatur, alias quisquam voluptates porro doloribus ducimus exercitationem nesciunt inventore aperiam ratione, molestias esse!
        Laborum est accusantium minus quis aperiam saepe dolorem quasi excepturi. Esse ad necessitatibus, deserunt ducimus, vitae eligendi temporibus quia mollitia expedita odio harum amet magnam voluptate alias ex eos id.
        Eum unde molestiae fugit omnis ipsum odit repudiandae facilis, dolores suscipit sed, error nesciunt temporibus tenetur vero odio impedit? Nihil at totam soluta iste dignissimos, placeat doloribus illo atque quibusdam?
      </p>
    </nb-card-body>
  </nb-card>

  <nb-card class="page" >

    <nb-card-body>
      <img src="https://picsum.photos/200/300" alt="story image" style="width: 100%; height: auto; margin-bottom: 10px;" />
    </nb-card-body>
  </nb-card>


  <nb-card class="page" >
    <nb-card-body>
      <p >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea doloremque nemo minima rem similique aperiam corporis eum! Quae reiciendis voluptatem libero commodi quasi, praesentium magnam, quas eum autem nesciunt delectus.
        Tenetur fuga quod rem fugit pariatur, tempore minus optio eveniet, assumenda minima, inventore soluta necessitatibus modi? Velit sequi voluptatem officia ea beatae nulla, maiores vel at suscipit delectus officiis quibusdam?
        Ipsum veritatis illo id dolorum perspiciatis, neque repudiandae harum excepturi omnis! Velit, modi dicta voluptate dolorem consequatur ipsa tempora quo in est quos alias iusto fuga soluta amet quaerat rem!
        Explicabo, odio quo. Quod odit, doloremque sed blanditiis ad aut labore. Deserunt, pariatur! Voluptatem quam facilis eos repellendus ex eum repellat! Maiores quibusdam a adipisci velit illum pariatur tempore dolor?
        Laboriosam itaque neque fugiat earum, excepturi quam quis consectetur perspiciatis harum modi expedita unde accusantium doloribus sunt quia minus, quisquam explicabo nihil doloremque sit odit recusandae molestias consequatur. Repudiandae, possimus.
        Possimus, at nihil maiores eum amet voluptate architecto molestias! Ut at accusamus ad quidem ipsa dolorum reprehenderit, totam, dignissimos dolorem odio doloribus obcaecati velit magni mollitia sapiente? Iusto, laudantium voluptatem!
        Delectus exercitationem rem possimus esse inventore blanditiis ipsa qui, velit magni vel assumenda sed dicta ratione minus quis necessitatibus amet totam quam tempore aperiam! Ullam deleniti labore corrupti omnis iure.
        Accusantium iure tenetur ducimus nulla cumque eos autem maxime, praesentium suscipit explicabo ab dolor quod dolores voluptate optio voluptas ipsam assumenda aut hic officiis. Beatae, aperiam! Beatae temporibus voluptates quo.
        Animi enim voluptatibus magni nisi? Aut quas officiis excepturi obcaecati voluptas optio incidunt expedita eius debitis soluta minus recusandae vel, dolorum qui ea cum dolore nisi natus eos voluptate? Amet.
        Odio quidem ipsa neque numquam ipsam in enim doloremque dicta voluptatibus nobis mollitia corporis excepturi at vitae tempore, officiis provident reprehenderit error nostrum quod libero magnam. Blanditiis reiciendis excepturi provident.
        Inventore ducimus quaerat aperiam itaque ad illum eius qui recusandae omnis excepturi saepe incidunt fugit reprehenderit, eligendi numquam esse placeat impedit a at hic harum repellendus nam natus eveniet. Dicta.
        Corrupti incidunt sint, similique est reiciendis itaque. Aperiam totam obcaecati asperiores provident, mollitia, quam necessitatibus alias deserunt autem assumenda eum quia maxime soluta voluptate nulla itaque incidunt porro voluptatum. Ad!
        Distinctio, tempora nam eaque veritatis sint quos exercitationem excepturi pariatur maxime in accusamus id modi earum, perferendis omnis recusandae. Hic voluptatibus expedita numquam fuga rerum corporis totam veritatis temporibus nihil!
        Dolorem dignissimos et ut vel quod laborum, deserunt veritatis vero harum eius. Earum repellendus nostrum dolor harum obcaecati dolores omnis nesciunt fugiat, aperiam facilis expedita blanditiis mollitia quos fugit aliquid.
        Velit dolore quam, perspiciatis iure laudantium consectetur, provident rerum officia maxime, aliquam ipsum aperiam. Adipisci repudiandae ad et quis impedit a voluptates deleniti nisi, sit exercitationem eveniet expedita, ab atque.
        Ex quia illo accusantium, molestias beatae provident placeat porro asperiores aut id quae exercitationem vero eius quos quo consectetur quasi? Nobis maxime provident atque explicabo iure deserunt voluptas laboriosam tempore?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium debitis amet illum. Eligendi nostrum quis voluptate ut impedit cupiditate labore et ad corporis, eos ullam! Nisi fugiat laboriosam numquam cupiditate.
        Repudiandae, eum. Quas molestiae necessitatibus quisquam molestias architecto rerum, voluptatem modi aut facere amet saepe adipisci neque iste sed laudantium enim dicta eveniet, ratione itaque. Ut distinctio alias corporis enim.
        Consequuntur, expedita distinctio. Hic temporibus distinctio, cumque recusandae culpa qui illum dicta voluptas nulla modi, dolores aut? Consequuntur aut officia quae dolorum quibusdam ipsa debitis ut, ipsum commodi, repudiandae tenetur.
        Perspiciatis deserunt expedita modi eligendi reiciendis dolor! Excepturi consectetur quo quidem. Beatae rem amet consequuntur eaque, quod accusantium ducimus iure maiores vel aliquid quasi aspernatur aperiam distinctio voluptatum id consequatur.
        Obcaecati voluptatibus velit deserunt pariatur expedita, temporibus enim dignissimos corporis fuga sunt accusamus, at sequi nobis illo quos voluptate quo est minima incidunt. Minima accusamus saepe eaque eveniet doloremque labore?
        Ullam blanditiis, nostrum temporibus commodi eveniet expedita corrupti similique, a ratione, possimus debitis voluptas nesciunt cum vero culpa necessitatibus incidunt? Architecto veritatis consequatur laudantium numquam cumque temporibus harum maxime expedita?
        Earum, tempora quis vel sint impedit iste deserunt? Voluptatem tempora praesentium, amet sapiente laboriosam dolorum dolor animi nam laborum magnam deleniti aspernatur reprehenderit repudiandae blanditiis ad ea unde incidunt quo!
        Corrupti debitis quisquam, reprehenderit eveniet repellat minima explicabo et. Deserunt dolorum unde eveniet sint quaerat facere aspernatur, alias quisquam voluptates porro doloribus ducimus exercitationem nesciunt inventore aperiam ratione, molestias esse!
        Laborum est accusantium minus quis aperiam saepe dolorem quasi excepturi. Esse ad necessitatibus, deserunt ducimus, vitae eligendi temporibus quia mollitia expedita odio harum amet magnam voluptate alias ex eos id.
        Eum unde molestiae fugit omnis ipsum odit repudiandae facilis, dolores suscipit sed, error nesciunt temporibus tenetur vero odio impedit? Nihil at totam soluta iste dignissimos, placeat doloribus illo atque quibusdam?
      </p>
    </nb-card-body>
  </nb-card>

  <nb-card class="page" >
    <nb-card-body>
      <img src="https://picsum.photos/200/300" alt="story image" style="width: 100%; height: auto; margin-bottom: 10px;" />
    </nb-card-body>
  </nb-card>


  <nb-card class="page" >
    <nb-card-body>
      <p >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea doloremque nemo minima rem similique aperiam corporis eum! Quae reiciendis voluptatem libero commodi quasi, praesentium magnam, quas eum autem nesciunt delectus.
        Tenetur fuga quod rem fugit pariatur, tempore minus optio eveniet, assumenda minima, inventore soluta necessitatibus modi? Velit sequi voluptatem officia ea beatae nulla, maiores vel at suscipit delectus officiis quibusdam?
        Ipsum veritatis illo id dolorum perspiciatis, neque repudiandae harum excepturi omnis! Velit, modi dicta voluptate dolorem consequatur ipsa tempora quo in est quos alias iusto fuga soluta amet quaerat rem!
        Explicabo, odio quo. Quod odit, doloremque sed blanditiis ad aut labore. Deserunt, pariatur! Voluptatem quam facilis eos repellendus ex eum repellat! Maiores quibusdam a adipisci velit illum pariatur tempore dolor?
        Laboriosam itaque neque fugiat earum, excepturi quam quis consectetur perspiciatis harum modi expedita unde accusantium doloribus sunt quia minus, quisquam explicabo nihil doloremque sit odit recusandae molestias consequatur. Repudiandae, possimus.
        Possimus, at nihil maiores eum amet voluptate architecto molestias! Ut at accusamus ad quidem ipsa dolorum reprehenderit, totam, dignissimos dolorem odio doloribus obcaecati velit magni mollitia sapiente? Iusto, laudantium voluptatem!
        Delectus exercitationem rem possimus esse inventore blanditiis ipsa qui, velit magni vel assumenda sed dicta ratione minus quis necessitatibus amet totam quam tempore aperiam! Ullam deleniti labore corrupti omnis iure.
        Accusantium iure tenetur ducimus nulla cumque eos autem maxime, praesentium suscipit explicabo ab dolor quod dolores voluptate optio voluptas ipsam assumenda aut hic officiis. Beatae, aperiam! Beatae temporibus voluptates quo.
        Animi enim voluptatibus magni nisi? Aut quas officiis excepturi obcaecati voluptas optio incidunt expedita eius debitis soluta minus recusandae vel, dolorum qui ea cum dolore nisi natus eos voluptate? Amet.
        Odio quidem ipsa neque numquam ipsam in enim doloremque dicta voluptatibus nobis mollitia corporis excepturi at vitae tempore, officiis provident reprehenderit error nostrum quod libero magnam. Blanditiis reiciendis excepturi provident.
        Inventore ducimus quaerat aperiam itaque ad illum eius qui recusandae omnis excepturi saepe incidunt fugit reprehenderit, eligendi numquam esse placeat impedit a at hic harum repellendus nam natus eveniet. Dicta.
        Corrupti incidunt sint, similique est reiciendis itaque. Aperiam totam obcaecati asperiores provident, mollitia, quam necessitatibus alias deserunt autem assumenda eum quia maxime soluta voluptate nulla itaque incidunt porro voluptatum. Ad!
        Distinctio, tempora nam eaque veritatis sint quos exercitationem excepturi pariatur maxime in accusamus id modi earum, perferendis omnis recusandae. Hic voluptatibus expedita numquam fuga rerum corporis totam veritatis temporibus nihil!
        Dolorem dignissimos et ut vel quod laborum, deserunt veritatis vero harum eius. Earum repellendus nostrum dolor harum obcaecati dolores omnis nesciunt fugiat, aperiam facilis expedita blanditiis mollitia quos fugit aliquid.
        Velit dolore quam, perspiciatis iure laudantium consectetur, provident rerum officia maxime, aliquam ipsum aperiam. Adipisci repudiandae ad et quis impedit a voluptates deleniti nisi, sit exercitationem eveniet expedita, ab atque.
        Ex quia illo accusantium, molestias beatae provident placeat porro asperiores aut id quae exercitationem vero eius quos quo consectetur quasi? Nobis maxime provident atque explicabo iure deserunt voluptas laboriosam tempore?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium debitis amet illum. Eligendi nostrum quis voluptate ut impedit cupiditate labore et ad corporis, eos ullam! Nisi fugiat laboriosam numquam cupiditate.
        Repudiandae, eum. Quas molestiae necessitatibus quisquam molestias architecto rerum, voluptatem modi aut facere amet saepe adipisci neque iste sed laudantium enim dicta eveniet, ratione itaque. Ut distinctio alias corporis enim.
        Consequuntur, expedita distinctio. Hic temporibus distinctio, cumque recusandae culpa qui illum dicta voluptas nulla modi, dolores aut? Consequuntur aut officia quae dolorum quibusdam ipsa debitis ut, ipsum commodi, repudiandae tenetur.
        Perspiciatis deserunt expedita modi eligendi reiciendis dolor! Excepturi consectetur quo quidem. Beatae rem amet consequuntur eaque, quod accusantium ducimus iure maiores vel aliquid quasi aspernatur aperiam distinctio voluptatum id consequatur.
        Obcaecati voluptatibus velit deserunt pariatur expedita, temporibus enim dignissimos corporis fuga sunt accusamus, at sequi nobis illo quos voluptate quo est minima incidunt. Minima accusamus saepe eaque eveniet doloremque labore?
        Ullam blanditiis, nostrum temporibus commodi eveniet expedita corrupti similique, a ratione, possimus debitis voluptas nesciunt cum vero culpa necessitatibus incidunt? Architecto veritatis consequatur laudantium numquam cumque temporibus harum maxime expedita?
        Earum, tempora quis vel sint impedit iste deserunt? Voluptatem tempora praesentium, amet sapiente laboriosam dolorum dolor animi nam laborum magnam deleniti aspernatur reprehenderit repudiandae blanditiis ad ea unde incidunt quo!
        Corrupti debitis quisquam, reprehenderit eveniet repellat minima explicabo et. Deserunt dolorum unde eveniet sint quaerat facere aspernatur, alias quisquam voluptates porro doloribus ducimus exercitationem nesciunt inventore aperiam ratione, molestias esse!
        Laborum est accusantium minus quis aperiam saepe dolorem quasi excepturi. Esse ad necessitatibus, deserunt ducimus, vitae eligendi temporibus quia mollitia expedita odio harum amet magnam voluptate alias ex eos id.
        Eum unde molestiae fugit omnis ipsum odit repudiandae facilis, dolores suscipit sed, error nesciunt temporibus tenetur vero odio impedit? Nihil at totam soluta iste dignissimos, placeat doloribus illo atque quibusdam?
      </p>
    </nb-card-body>
  </nb-card>

  <nb-card class="page" >
    <nb-card-body>
      <img src="https://picsum.photos/200/300" alt="story image" style="width: 100%; height: auto; margin-bottom: 10px;" />
    </nb-card-body>
  </nb-card>

</div>