<nb-layout>

    <!-- ✅ HEADER -->
    <nb-layout-header subheader *ngIf="isLoggedIn()">
            <nb-search type="rotate-layout"  placeholder="Ara..." spellcheck="true"></nb-search>
            <nb-user  name="Ümit KOÇ" title="Software Developer" [nbContextMenu]="items" nbContextMenuTag="my-context-menu" size="large"></nb-user>
    </nb-layout-header> 

    <nb-sidebar tag="menu-sidebar" responsive *ngIf="isLoggedIn()">
            <nb-menu [items]="menuItems"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed >
        <b style="font-style: oblique;">RealBook © 2025</b> 
    </nb-layout-footer>
</nb-layout>