<nb-layout>
    <nb-layout-header fixed>
        <nb-select [(ngModel)]="currentTheme" (selectedChange)="toggleTheme($event)">
            <nb-option *ngFor="let color of colorList" [value]="color.value">{{ color.name }}</nb-option>
        </nb-select>
    </nb-layout-header>
    <nb-sidebar tag="menu-sidebar" responsive *ngIf="isLoggedIn()">
        <nb-menu [items]="menuItems"></nb-menu>
    </nb-sidebar>
   <nb-layout-column>
    <router-outlet></router-outlet>
   </nb-layout-column>
    <nb-layout-footer fixed></nb-layout-footer>
</nb-layout>
