<nb-spinner *ngIf="isLoading">
  <nb-spinner></nb-spinner>
</nb-spinner>
<div class="story-grid" *ngIf="!isLoading">
  <div class="story-item" *ngFor="let story of stories">
    <nb-flip-card>

      <nb-card-front>
        <nb-card class="story-card">
          <img [src]="story.image" alt="story image" />

          <p class="story-title">{{ story.title }}</p>

          <div class="story-description-container">
            <p class="story-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam minima obcaecati a alias explicabo dolore
              consequuntur sit consequatur vero quaerat fugit iure debitis, eaque corporis vitae ab beatae ipsa in.
            </p>
            <button nbButton size="tiny" class="story-button" (click)="openWindow(story)">Read...</button>
          </div>

          <nb-badge text="v1.0" status="warning" position="top left"></nb-badge>
        </nb-card>
      </nb-card-front>

      <nb-card-back>
        <nb-card class="story-card">
          <p class="story-description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis harum aperiam quaerat nulla totam. Labore
            dicta eos hic, ut laboriosam quisquam aspernatur ea unde. Itaque eos quasi quis ea quisquam.
            Accusantium fuga recusandae accusamus. Voluptatum voluptates facilis illo animi quia numquam. Veniam,
            commodi numquam voluptate veritatis possimus consequatur nesciunt doloribus vitae corrupti ea laborum
            ducimus consequuntur! Quam in atque ipsum.
          </p>
        </nb-card>
      </nb-card-back>

    </nb-flip-card>
  </div>
</div>